Repository eDyablo/dive-into-5g: changes, and which GitLab CI jobs are due for each by the changed paths.
All: modulator, demodulator

modulator:
  trigger:
    include:
    - local: qpsk-modulator/.gitlab-ci.yml
    strategy: depend

demodulator:
  trigger:
    include:
    - local: qpsk-demodulator/.gitlab-ci.yml
    strategy: depend

fix failed dummy test
  qpsk-demodulator/test/demodulator_test.cpp
Due: demodulator

Add LICENSE
  LICENSE
Due: none

qpsk demodulator
  .gitlab/pipeline.gitlab-ci.yml
  docker-compose.yaml
  qpsk-demodulator/README.md
  qpsk-demodulator/src/demodulator.hpp
  qpsk-demodulator/src/main.cpp
  qpsk-demodulator/src/reader.hpp
  qpsk-demodulator/src/symbol.hpp
  qpsk-demodulator/test/demodulator_test.cpp
  qpsk-demodulator/test/reader_test.cpp
  qpsk-modulator/README.md
  qpsk-modulator/src/main.cpp
  qpsk-modulator/test/modulator_test.cpp
Due: modulator, demodulator

qpsk noise simulation
  .gitlab/jobs.gitlab-ci.yml
  .gitlab/pipeline.gitlab-ci.yml
  .gitmodules
  CMakeLists.txt
  README.md
  docker-compose.yaml
  qpsk-demodulator/src/demodulator.hpp
  qpsk-demodulator/src/main.cpp
  qpsk-modulator/Dockerfile
  qpsk-modulator/src/modulator.hpp
  qpsk-noise-injector/.gitlab-ci.yml
  qpsk-noise-injector/CMakeLists.txt
  qpsk-noise-injector/Dockerfile
  qpsk-noise-injector/README.md
  qpsk-noise-injector/src/main.cpp
  qpsk-noise-injector/src/noise_injector.hpp
  qpsk-noise-injector/test/noise_injector_test.cpp
  qpsk/CMakeLists.txt
  qpsk/reader.hpp
  qpsk/snr.hpp
  qpsk/symbol.hpp
  qpsk/test/reader_test.cpp
  qpsk/test/snr_test.cpp
Due: modulator, demodulator

ignore dirty for cxxopts submodule [skip ci]
  .gitmodules
Due: none

tidy up code
  qpsk-demodulator/src/main.cpp
  qpsk-modulator/src/main.cpp
  qpsk-noise-injector/src/main.cpp
Due: modulator, demodulator

re-arrange includes
  qpsk-demodulator/src/main.cpp
  qpsk-modulator/test/modulator_test.cpp
  qpsk-noise-injector/src/main.cpp
Due: modulator, demodulator

qpsk bits generator
  .gitlab/pipeline.gitlab-ci.yml
  CMakeLists.txt
  README.md
  docker-compose.yaml
  qpsk-bits-generator/.gitlab-ci.yml
  qpsk-bits-generator/CMakeLists.txt
  qpsk-bits-generator/Dockerfile
  qpsk-bits-generator/README.md
  qpsk-bits-generator/src/main.cpp
  qpsk-bits-generator/src/options.hpp
Due: none

define workplace container image
  docker-compose.yaml
  workplace.Dockerfile
Due: none

workplace container iamge contains release versions of executables
  workplace.Dockerfile
Due: none

turn on all optimizations for release build type
  CMakeLists.txt
Due: none

do not generate bits for empty pattern
  qpsk-bits-generator/src/main.cpp
  qpsk-bits-generator/src/options.hpp
Due: none

bit error rate calculator
  .gitlab/pipeline.gitlab-ci.yml
  CMakeLists.txt
  README.md
  docker-compose.yaml
  qpsk-ber-calculator/.gitlab-ci.yml
  qpsk-ber-calculator/CMakeLists.txt
  qpsk-ber-calculator/Dockerfile
  qpsk-ber-calculator/README.md
  qpsk-ber-calculator/src/ber_calculator.hpp
  qpsk-ber-calculator/src/main.cpp
  qpsk-ber-calculator/src/options.hpp
  qpsk-ber-calculator/test/ber_calculator_test.cpp
Due: none

update test names
  qpsk-ber-calculator/test/ber_calculator_test.cpp
Due: none

tidy up tests
  qpsk-demodulator/test/demodulator_test.cpp
Due: demodulator

tidy up modulation tests
  qpsk-modulator/test/modulator_test.cpp
Due: modulator

tidy up reader tests
  qpsk/test/reader_test.cpp
Due: none

tidy up snr tests
  qpsk/test/snr_test.cpp
Due: none

update links
  README.md
Due: none

Path conditions:
  modulator: any of: qpsk-modulator/**/*
  demodulator: any of: qpsk-demodulator/**/*
